<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PvaCore.Vfs.Properties.Settings.vpadbConnectionString"
            connectionString="Data Source=vpa.cloudapp.net;Initial Catalog=vpadb;User ID=sa;Password=Casper159357*0"
            providerName="System.Data.SqlClient" />
        <add name="PvaCore.Vfs.Properties.Settings.VpaPolandDbConnection"
            connectionString="Data Source=vpa.cloudapp.net;Initial Catalog=VpaPolandDb;Persist Security Info=True;User ID=sa;Password=Casper159357*0;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
